*

!.gitignore

!/README.md
!/requirements.txt
!/LICENSE

!/build_index/
!/build_index/__init__.py
!/build_index/config.py
!/build_index/graphs.py
!/build_index/index_stage.py
!/build_index/io_stage.py
!/build_index/main.py
!/build_index/pools_stage.py
!/build_index/stats_stage.py
!/build_index/tag2vec_stage.py
!/build_index/post2vec_stage.py
!/build_index/tags_stage.py
!/build_index/utils.py
!/build_index/run_index.bat

/build_index/data_file_tree.txt
/build_index/overview_of_databases.txt

!/build_index/autotest/
!/build_index/autotest/autotest_index.py
!/build_index/autotest/autotest_post2vec.py
!/build_index/autotest/autotest_tag2vec.py
!/build_index/autotest/run_autotest_index.bat
!/build_index/autotest/run_autotest_post2vec.bat
!/build_index/autotest/run_autotest_tag2vec.bat


!/autotest/
!/autotest/autotest_index.py
!/autotest/run_autotest_index.bat
!/autotest/autotest_tag2vec.py
!/autotest/run_autotest_tag2vec.bat

!/data/
!/data/data_file_tree.txt
!/data/overview_of_databases.txt

/data/*.parquet
/data/*.roar
/data/*.roarpack
/data/*.bin
/data/*.topk
/data/*.topkpack
/data/*.json
/data/*.csv